@import '../placeholder/placeholder';
.lineaHorizontal {
	height: 500px;
	width: 5%;
}

.lineaHorizontal:nth-child(even) {
	background-color: #03AF33;
}

/*Rayas de la cancha*/
@for $i from 1 through 2 {
	.lineaHorizontal {
		&:nth-child(#{$i})::before {
			@if $i == 1 {  /*franja superior*/
				@extend %lineaImagenes-laterales;

			} @else { /*franja izquierdo*/
				@extend %lineaImagenes-laterales;
				width: 5px;
				height: 450px;
			} 
		}
		
		&:nth-child(#{$i})::after {
			@if $i == 1 { /*franja inferior*/
				@extend %lineaImagenes-laterales;
				top: calc(5% + 445px);
			
			} @else { /*franja derecho*/
				@extend %lineaImagenes-laterales;
				width: 5px;
				height: 450px;
				left: 95%;
			} 
		}
	}
}

/*Esquinas*/
@for $i from 3 through 4 {
	.lineaHorizontal {
		&:nth-child(#{$i})::before {
			@if $i == 3 {  /*esquina infefiror izquierda*/
				@extend %lineaImagenes-esquinas;
				border-top-right-radius: 50%;
			
			}  @else { /*esquina superior izquierda*/
				@extend %lineaImagenes-esquinas;
				top: 5%;
				border-bottom-right-radius: 50%;
			} 
		}
		
		&:nth-child(#{$i})::after { 
			@if $i == 3 { /*esquina infefiror derecha*/
				@extend %lineaImagenes-esquinas;
				left: calc(95% - 35px);
				border-top-left-radius: 50%;

			} @else { /*esquina superior derecha*/
				@extend %lineaImagenes-esquinas;
				border-bottom-left-radius: 50%;
				top: 5%;
				left: calc(95% - 35px);
			} 
		}
	}
}

/*Centro*/
.lineaHorizontal { 
	&:nth-child(5)::before { /*linea del centro*/
		@extend %lineaImagenes-centro;
		top: 5%;
		right: 50%;
		height: 450px;
		border: 2.5px solid white;
	}

	&:nth-child(5)::after { /*circulo del centro*/
		@extend %lineaImagenes-centro;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		border-radius: 50%;
		height: 100px;
		width: 100px;
		border: 5px solid white;
	}
}

/*Porteria izquierda*/
@for $i from 6 through 8 {
	.lineaHorizontal {
		&:nth-child(#{$i})::before {
			background-color: white;
			@extend %porteria-izquierda;/*porteria pequeña, posta superior*/

			@if $i == 7 {  /*porteria pequeña, posta derecho*/
				left: calc(50px + 5%);
				height: 105px;
				width: 5px;
			
			} @else if $i == 8 { /*porteria grande, posta inferior*/
				top: 70%;
				width: 110px;
			}  
		}
		
		&:nth-child(#{$i})::after { 
			background-color: white;
			@extend %porteria-izquierda;/*porteria pequeña, posta inferior*/
			top: 60%;

			@if $i == 7 { /*porteria grande, posta superior*/
				top: 30%;
				left: 5%;
				width: 110px;
			
			} @else if $i == 8 { /*porteria grande, posta derecho*/
				top: calc(50% - 100px);
				left: calc(110px + 5%);
				height: 205px;
				width: 5px;
			}  
		}	
	}
}

.lineaHorizontal:nth-child(9)::before {/*media luna*/
	@extend %porteria-izquierda;
	top: calc(50% - 30px);
	left: calc(110px + 5%);
	border: 5px solid white;
	border-top-right-radius: 50%; 
	border-bottom-right-radius: 50%; 
	height: 60px;
	width: 40px;
}

/*Porteria derecha*/
@for $i from 10 through 12 {
	.lineaHorizontal {
		&:nth-child(#{$i})::before {
			background-color: white;
			@extend %porteria-derecha;/*porteria pequeña, posta superior*/

			@if $i == 11 {  /*porteria pequeña, posta izquierdo*/
				right: calc(50px + 5%);
				height: 105px;
				width: 5px;
			
			}  @else if $i == 12 { /*porteria grande, posta inferior*/
				top: 70%;
				width: 110px;
				right: 5%;
			}  
		}
		
		&:nth-child(#{$i})::after { 
			background-color: white;
			@extend %porteria-derecha;/*porteria pequeña, posta inferior*/
			top: 60%;

			@if $i == 11 { /*porteria grande, posta superior*/
				top: 30%;
				right: 5%;
				width: 110px;
			
			}  @else if $i == 12 { /*porteria grande, posta izquierdo*/
				top: calc(50% - 100px);
				right: calc(110px + 5%);
				height: 205px;
				width: 5px;
			}  
		}	
	}
}

.lineaHorizontal:nth-child(13)::before {/*media luna*/
	@extend %porteria-derecha;
	border: 5px solid white;
	top: calc(50% - 30px);
	right: calc(110px + 5%);
	border-top-left-radius: 50%; 
	border-bottom-left-radius: 50%; 
	height: 60px;
	width: 40px;
}