// @import '../placeholder/placeholder';

.contenedor-jugador img { 
	@extend %imagenes;
}

/*Jugadores titulares*/

/*ubicando a los jugadors titulares en la cancha*/
@for $i from 21 through 31 {
	&:nth-child(#{$i}) {
		@if $i == 21 { /*Portero*/
			top: calc(50% - 30px);
			left: 4%;

		} @else if $i == 22 { /*Defensa izquierdo*/
			top: 28%;
			left: calc(110px + 5%);
		
		} @else if $i == 23 { /*Defensa derecho*/
			top: 55%;
			left: calc(110px + 5%);
		
		} @else if $i == 24 { /*Lateral Izquierdo*/
			top: 7%;
			left: 32%;
		
		} @else if $i == 25 { /*Lateral Derecho*/
			top: 75%;
			left: 32%;
		
		} @else if $i == 26 { /*Centro campista izquierdo*/
			top: 34%;
			right: calc(50% - 60px);
		
		} @else if $i == 27 { /*Centro campista Derecho*/
			top: 52%;
			right: calc(50% - 60px);
		
		} @else if $i == 28 { /*Delantero lateral izquierdo*/
			top: 15%;
			left: 52%;
		
		} @else if $i == 29 { /*Delantero lateral Derecho*/
			top: 72%;
			left: 52%;
		
		} @else if $i == 30 { /*Delantero central Derecho*/
			top: 30%;
			right: calc(5% + 20px);
		
		} @else if $i == 31 { /*Delantero central Derecho*/
			top: 51%;
			right: calc(102px + 5%);
		
		}
	}
}