%imagenes {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

%lineaImagenes-laterales {
	position: absolute;
	top: 5%;
	left: 5%;
	content: '';
	display: block;
	background-color: white;
	width: 90%;
	height: 5px;
}

%lineaImagenes-esquinas {
	position: absolute;
	bottom: 5%;
	left: 5%;
	content: '';
	display: block;
	border: 5px solid white;
	width: 40px;
	height: 40px;
}

%lineaImagenes-centro {
	position: absolute;
	content: '';
	display: block;
}

%porteria-izquierda {
	position: absolute;
	top: 40%;
	left: 5%;
	content: '';
	display: block;
	height: 5px;
	width: 50px;
}

%porteria-derecha {
	position: absolute;
	top: 40%;
	right: 5%;
	content: '';
	display: block;
	height: 5px;
	width: 50px;
}