body {
	min-height: 100vh;
	background-color: #0B2031;
}

@media (min-width: 1250px) {
	.app-contenedor {
		padding: 0 8rem;
	}
}

// Estilos del componente <Jugadores /> y <Suplentes />
@import './sass/jugadores/jugadores';
@import './sass/jugadores/jugadorSelect';

// Estilos del componente <Jugadores />
@import './sass/cancha/cancha';
@import './sass/cancha/estructuraCancha';

// Estilos del componente <Titulares />
@import './sass/titulares/titulares';