body {
	min-height: 100vh;
	background-color: #0B2031;
}

@media (min-width: 1250px) {
	.app-contenedor {
		padding: 0 8rem;
	}
}

@import './asset/utilities/mixin.scss';
@import './asset/utilities/placeholder.scss';

@import './asset/views/cancha.scss';
@import './asset/views/jugadores.scss';